statemachine/eurlex_notice.asl.json
{
    "Comment": "State macthing for the app that downloads NOTICE documents from EurLex",
    "StartAt": "IngestAlerter",
    "States": {
        "IngestAlerter": {
            "Comment": "Get updates from EurLex for particular date",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${IngestAlerterArn}",
                "Payload.$": "$"
            },
            "Next": "CheckNoticesLoaded"
        },
        "CheckNoticesLoaded": {
            "Comment": "Check evety notice in the list if it was loaded before",
            "Type": "Map",
            "InputPath": "$.Payload",
            "ItemsPath": "$.items",
            "MaxConcurrency": 0,
            "Iterator": {
                "StartAt": "IngestAlertFilter",
                "States": {
                    "IngestAlertFilter": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Parameters": {
                            "FunctionName": "${IngestAlertFilterArn}",
                            "Payload.$": "$"
                        },
                        "OutputPath": "$.Payload",
                        "Next": "SkipDownloadedNotices"
                    },
                    "SkipDownloadedNotices": {
                        "Comment": "Skips or downloads a Notice for the given alert",
                        "Type": "Choice",
                        "Choices": [
                            {
                                "Variable": "$.exists",
                                "BooleanEquals": false,
                                "Next": "DownloadNoticeFromEurlex"
                            },
                            {
                                "Variable": "$.exists",
                                "BooleanEquals": true,
                                "Next": "EndProcessing"
                            }
                        ]
                    },
                    "DownloadNoticeFromEurlex": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Parameters": {
                            "FunctionName": "${IngestMetadataDownloaderArn}",
                            "Payload.$": "$"
                        },
                        "Next": "EndProcessing"
                    },
                    "EndProcessing": {
                        "Type": "Succeed"
                    }
                }
            },
            "End": true
        }
    }
}